{:paths ["src"]
 :deps {org.clj-commons/clj-http-lite {:mvn/version "1.0.13"}
        ;; NOTE: bond is used because it is compatible with babashka
        ;; https://github.com/babashka/babashka/blob/master/doc/projects.md#bond
        circleci/bond                 {:mvn/version "0.6.0"}}
 :tasks {adjust active-grafana.main-adjust/-main
         copy   active-grafana.main-copy/-main

         dev {:requires    ([babashka.nrepl.server :as srv])
              :extra-paths ["dev" "test"]
              :task        (do (srv/start-server!
                                {:host "localhost"
                                 :port 0})
                               (deref (promise)))}

         ;; NOTE: See https://blog.michielborkent.nl/babashka-test-runner.html
         test:bb {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :task (exec 'cognitect.test-runner.api/test)
                  :exec-args {:dirs ["test"]}
                  :org.babashka/cli {:coerce {:nses [:symbol]
                                              :vars [:symbol]}}}}}
