;; TODO: Read https://github.com/babashka/babashka/issues/1123
;; and try the steps under "repro"
;; see is java is needed
;; also see if it downloads clojure-tools...

;; NOTE: See https://book.babashka.org/#_bb_edn
;; and https://www.braveclojure.com/quests/babooka/
{:paths ["src"]
        ;; NOTE: only use compatible libraries!
        ;; See https://github.com/babashka/babashka/blob/master/doc/projects.md
 :deps {;; NOTE: clj-http-lite is compatible with babashka
        ;; https://github.com/babashka/babashka/blob/master/doc/projects.md#clj-http-lite
        org.clj-commons/clj-http-lite {:mvn/version "1.0.13"}
        ;; NOTE: bond is compatible with babashka
        ;; https://github.com/babashka/babashka/blob/master/doc/projects.md#bond
        circleci/bond                 {:mvn/version "0.6.0"}
        ;; NOTE: use the newest version of babashka.cli
        ;; since the one built-in to babashka does not support the --help features
        org.babashka/cli              {:mvn/version "0.12.76"}}
 :tasks {dev {:requires    ([babashka.nrepl.server :as srv])
              :extra-paths ["dev" "test"]
              :task        (do (srv/start-server!
                                {:host "localhost"
                                 :port 0})
                               (deref (promise)))}

         ;; NOTE: See https://blog.michielborkent.nl/babashka-test-runner.html
         test:bb {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :task (exec 'cognitect.test-runner.api/test)
                  :exec-args {:dirs ["test"]}
                  :org.babashka/cli {:coerce {:nses [:symbol]
                                              :vars [:symbol]}}}}}
